.display-preview {
    position: fixed;
    top: var(--drag-top, calc(100% - 300px));
    left: var(--drag-left, calc(100% - 400px));
    height: 300px;
    width: 400px;

    background: repeating-linear-gradient(45deg,
            #cccccc80,
            #cccccc80 10px,
            #ffffff80 10px,
            #ffffff80 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem 1rem 0 0;
    z-index: 10000;

    overflow: auto;
    resize: both;
    display: flex;
    flex-direction: column;
}
.maximized {
    /* resize: both によってブラウザによって設定されたインラインスタイルを上書きするため */
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    resize: none;
}

.display-preview-title {
    width: 100%;
    min-height: 2em;
    text-align: center;
    align-content: center;
    user-select: none;

    padding: 0.3em;
    background-color: aliceblue;
    border-radius: 1rem 1rem 0 0;
}
.display-preview-inner-container {
    flex-grow: 1;
    overflow: auto;
}
.display-preview-button {
    background: whitesmoke;
    border-radius: 1rem;
    padding: 0.5em 1em;
    margin: 0.3em 0 0.3em 0.3em
}

.chart-container {
    resize: vertical;
    overflow: auto;

    background: white;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
