.display-preview {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 300px;

    background: repeating-linear-gradient(45deg,
            #cccccc80,
            #cccccc80 10px,
            #ffffff80 10px,
            #ffffff80 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem 1rem 0 0;
    z-index: 10000;

    overflow: auto;
    resize: both;
    display: flex;
    flex-direction: column;
}
.display-preview-title {
    width: 100%;
    min-height: 2em;
    text-align: center;
    align-content: center;
    user-select: none;

    padding: 0.3em;
    background-color: aliceblue;
    border-radius: 1rem 1rem 0 0;
}
.display-preview-inner-container {
    flex-grow: 1;
    overflow: hidden;
}
.display-preview-button {
    background: whitesmoke;
    border-radius: 1rem;
    padding: 0.5em 1em;
    margin: 0.3em 0 0.3em 0.3em
}

.chart-container {
    background: white;
    width: 100%;
    height: 100%;
}
